---
layout: post
---

{% comment %}
<!--replace obsidian, markdown img to html img tag-->
{% endcomment %}
{%
assign media = page.date
| slice: 0, 10
| append: "-"
| append: page.slug
| prepend:"/"
| prepend: site.img_dir
| prepend: '<img src="/'
%}    

{% assign output = content
| regex_replace: '!\[(.*)\]\(([^\)]+)\)(?:{:([^}]+)})*','{#@#obsidian_img#@#}/\1" ,alt="\2">'
| regex_replace: '!\[\[(.[^\[\]\|]*\.[a-z]{3,4})(\|(.*))?\]\]', '{#@#obsidian_img#@#}/\1" ,alt="\3">'
| replace: '{#@#obsidian_img#@#}', media
%}

{%- comment -%}
Find toc and turn into table of contents.
Only find first toc in the post.
{% if output contains "```toc" %}
    {% assign raw_text = output | split: '```toc' %}
    # toc에서 설정값 가져오기
    # h1~h6 태그 가져오기

    # 해당 값들의 링크 태그(a) 만들기

    # 하나의 커다란 태그로 만들기
    # 해당 태그를 output toc 태그와 바꾸기
{% endif %}
{%- endcomment -%}




{{output}}

<script src="/{{site.js_dir}}/test.js"></script>