<link rel="stylesheet" href="/{{ site.static_css_dir }}/common/drawer.css" />
<button class="drawer-button open">▶️</button>
<div id="drawer">
  <button class="drawer-button close">
    ◀️
  </button>
  <div class="drawer-content">
    <div class="my-description">
      <div class="avatar-section" style="display: flex; flex-direction: row;">

        <img src="/{{ site.static_img_dir }}/common/avatar.png" alt="avatar" class="avatar">
        <div style="display: flex; flex-direction: column; margin-left: 5px;">
          <a href="/about/">
            <h3 class="name">ROADVIRUSHN</h3>
          </a>
          <div class="stack-list" style="margin: 5px 0 0 5px;">
            {% include contact-stack.html size=16 %}
          </div>
        </div>
        <!-- <h4 class="name">(JUNSEOK YUN)</h4> -->
      </div>
      <p style="margin: 5px 0 0 0;">
        풀스택 웹🌐 개발자 지망생 🧑🏽‍💻
        <br>
        ➕ 인공지능 관심 🤖 
      </p>
    </div>
    <div class="drawer-posts">
      <hr>
      <div class="categories" style="flex: 2;">
        <h3 style="margin: 0;"><a href="/">Categories</a></h3>
        {% include drawer-categories-section.html  %}
      </div>
      <hr>
      <div class="recent-view" style="flex: 1;">
        <h3 style="margin: 0;">Recent views</h3>
        <ul style="margin-left: 16px;">
          <li>
            <strong style="color:rgb(219, 219, 12);">1 <a id="recent-1"></a></strong>
          </li>
          <li>
            2 <a id="recent-2" style="overflow: hidden;"></a>
          </li>
          <li>
            3 <a id="recent-3" style="overflow: hidden;"></a>
          </li>
          <li>
            4 <a id="recent-4" style="overflow: hidden;"></a>
          </li>
          <li>
            5 <a id="recent-5" style="overflow: hidden;"></a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div style="bottom: 10px; height: 7vh; flex: 1;"></div>
</div>