<a title="My github page" href="https://github.com/RoadVirusHN">
  <svg class="svg-icon" width="{{include.size}}" height="{{include.size}}" viewBox="0 0 {{include.size}} {{include.size}}">
    <use xlink:href="/assets/svg/social-icons.svg#github"></use>
  </svg>
</a>
<a title="My G-mail" href="mailto:roadvirushn@gmail.com">
  <svg class="svg-icon" width="{{include.size}}" height="{{include.size}}" viewBox="0 0 {{include.size}} {{include.size}}">
    <use xlink:href="/assets/svg/social-icons.svg#gmail"></use>
  </svg>
</a>
<a title="My Blog" href="https://luminous-bubblegum-8e9be4.netlify.app">
  <svg class="svg-icon" width="{{include.size}}" height="{{include.size}}" viewBox="0 0 {{include.size}} {{include.size}}">
    <use xlink:href="/assets/svg/social-icons.svg#blog"></use>
  </svg>
</a>