#search-box {
    padding: 5px;
    font-size: 16px;
    border-width: 4px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 24px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 2px rgba(66,66,66,.5);
}
#search-box:focus {
    outline:none;
}