<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include common/head.html -%}

  {% include common/custom-scrollbar.html %}
  {% include common/redirection.html %}
  <body>  
    {%- include header/header.html -%}
    <main class="page-content" aria-label="Content">
      {% include drawer/drawer.html %}
      <div class="wrapper">
        <!-- This loops through the paginated articles -->
        <h2 class="article-list-heading">📂 {{ page.list_title | default: "articles" }}</h2>
        <ul class="article-list">
          {% for subdirectory in page.subdirectories %}
            <li class="folder-item">
              <span class="folder-meta">┗ Subdirectory</span>
              <h3>
                <a class="folder-link" href="{{ subdirectory.url | relative_url }}">
                  📂 <strong>{{page.list_title}}{{subdirectory.name}}</strong>
                  {% assign all_items_counts = subdirectory.categories.size | plus: subdirectory.articles.size %}
                  {% if all_items_counts == 0 %}
                    (Empty)
                  {% else %}
                    <span style="font-size: xx-small;">
                      (
                        {% if subdirectory.articles.size > 0%}
                        📄: {{subdirectory.articles.size}} 
                        {% endif %}
                        {% if subdirectory.categories.size > 0 %}
                        📂: {{subdirectory.categories.size}}
                        {% endif %}
                      )
                    </span>
                  {% endif %}
                </a>
              </h3>
            </li>
          {%- endfor -%}
          {% for article in page.linked_articles %}
            {% if article.tags contains "HIDE" %}            
              {% assign color = site.data.json.tags["HIDE"]["color"] %}
              {% assign background = site.data.json.tags["HIDE"]["background-color"] %}
              <!--{% include list/hidden-article.html color=color background=background %}-->
            {% else %}
              <li>
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <span class="article-meta">{{ article.date | date: date_format }}</span>
                {%for tag in article.tags %}
                  {% assign tag_upcase = tag | upcase %}
                  <a class="tag-link" href="/search.html?tags={{tag}}" style="color: {{site.data.json.tags[tag_upcase]["color"]}};
                    background-color: {{ site.data.json.tags[tag_upcase]["background-color"] }};">
                    {{tag_upcase}}
                  </a>
                {% endfor %}
                <h3>
                  <a class="article-link" href="{{ article.url | relative_url }}">
                    📄 {{ article.title | escape }}
                  </a>
                </h3>
                {%- if site.show_excerpts -%}
                {{ article.excerpt }}
                {%- endif -%}
              </li>
            {% endif %}
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </main>

  {%- include common/footer.html -%}

  </body>

  <script src="/{{ site.static_js_dir }}/bundle/common.bundle.js"></script>

</html>