<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}

{% include custom-scrollbar.html %}
{% include redirection.html %}

<body>
  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    {% include drawer.html %}
    <div class="wrapper">
      {{ content | postprocess}}
    </div>
  </main>

  {%- include footer.html -%}

</body>

<script src="/{{ site.static_js_dir }}/bundle/common.bundle.js"></script>

</html>