<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include common/head.html -%}

{% include common/custom-scrollbar.html %}
{% include common/redirection.html %}

<body>
  {%- include header/header.html -%}

  <main class="page-content" aria-label="Content">
    {% include drawer/drawer.html %}
    <div class="wrapper">
      {{ content | postprocess}}
    </div>
  </main>

  {%- include common/footer.html -%}

</body>

<script src="/{{ site.static_js_dir }}/bundle/common.bundle.js"></script>

</html>