---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  {%- if site.articles.size > 0 -%}
    <h2 class="article-list-heading">{{ page.list_title | default: "Recent articles" }}</h2>
    <ul class="article-list">
      {%- for article in site.articles -%}
        {% if article.tags contains "HIDE" %}
          <li>
            <span class="article-meta">this article is hidden for some reasons. but you can check it in my <a href="https://github.com/RoadVirusHN/RoadVirusHN.github.io">github repository.</a></span>
            <a class="tag-link" href="/search.html?tags=HIDE" style="color: {{site.data.json.tags["HIDE"]["color"]}};
            background-color: {{ site.data.json.tags["HIDE"]["background-color"] }};">
            HIDE
          </a>
            <h3>
              <a class="article-link" style="color: #7a7a7a;">
                👻 HIDDEN CONTENTS
              </a>
            </h3>
          </li>
        {% else %}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="article-meta">{{ article.date | date: date_format }}</span>
            {%for tag in article.tags %}
              {% assign tag_upcase = tag | upcase %}
              <a class="tag-link" href="/search.html?tags={{tag}}" style="color: {{site.data.json.tags[tag_upcase]["color"]}};
                background-color: {{ site.data.json.tags[tag_upcase]["background-color"] }};">
                {{tag_upcase}}
              </a>
            {% endfor %}
            <h3>
              <a class="article-link" href="{{ article.url | relative_url }}">
                📄 {{ article.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
            {{ article.excerpt }}
            {%- endif -%}
          </li>
        {% endif %}
      {%- endfor -%}
    </ul>

 <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> 
   {%- endif -%}
</div>
