---
layout: article
---


{% if page.use_Mathjax %} 
{% include mathjax-script.html %} 
{% endif %} 


<script src="/{{site.static_js_dir}}/bundle/obsidian.bundle.js"></script>
<link rel="stylesheet" href="/{{ site.static_css_dir }}/obsidian/callout.css" />
<link rel="stylesheet" href="/{{ site.static_css_dir }}/obsidian/image.css" />
<link rel="stylesheet" href="/{{ site.static_css_dir }}/obsidian/link-warning.css" />
<link rel="stylesheet" href="/{{ site.static_css_dir }}/obsidian/preview.css" />

<div class="content-section">
  {{content | postprocess_obsidian}}
</div>
