div.sort-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    * {
        margin-left: 5px;
        margin-right: 5px;
    }
    button.sort-direction {
        border: none;
    }
    padding: 5px;
}