.drawer-button {
  border: 2px solid #e8e8e8;
  text-align: center;
  box-shadow: 0px 0px 3px rgba(66, 66, 66, 0.75);
  flex: 0; }
  .drawer-button.open {
    display: none;
    position: fixed;
    top: 15%;
    width: 25px;
    height: 50px;
    background-color: white; }
    @media screen and (max-width: 1240px) {
      .drawer-button.open {
        display: inline; } }
  .drawer-button.close {
    display: inline;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    border: 2px solid #e8e8e8;
    background-color: white; }

.drawer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.drawer-components {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 4; }

div.my-description {
  flex: 1; }
  div.my-description img.avatar {
    object-fit: cover;
    display: inline;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-position: 0 30%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin: 3px 0px; }
  div.my-description .name {
    margin: 0; }
  div.my-description .stack-list a {
    text-decoration: none; }

#drawer {
  z-index: 3;
  display: flex;
  position: fixed;
  border-style: solid;
  border-color: #e8e8e8;
  border-radius: 0 15px 15px 0;
  box-shadow: 0px 0px 3px rgba(66, 66, 66, 0.75);
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  height: 80vh;
  background-color: white;
  padding: 5px; }
  #drawer hr {
    border: 1px solid #e8e8e8; }
  @media screen and (max-width: 1240px) {
    #drawer {
      display: none;
      width: 256px; } }
  #drawer.open {
    display: flex; }
  #drawer.close {
    display: none; }
  #drawer div.categories {
    height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
    /* Track */
    /* Handle */
    /* Handle on hover */ }
    #drawer div.categories::-webkit-scrollbar {
      width: 7px; }
    #drawer div.categories::-webkit-scrollbar-track {
      background: #f1f1f1; }
    #drawer div.categories::-webkit-scrollbar-thumb {
      background: #888; }
    #drawer div.categories::-webkit-scrollbar-thumb:hover {
      background: #555; }
  #drawer ul {
    list-style-type: none; }
  #drawer ul.category-list {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px; }
    #drawer ul.category-list > li h3 {
      cursor: pointer; }
    #drawer ul.category-list a.category-drop-down {
      font-size: xx-small;
      display: table-cell;
      vertical-align: middle;
      padding-right: 5px; }
    #drawer ul.category-list span.category-link {
      background-color: lightgray;
      padding: 0px 1px;
      border-radius: 2px; }
      #drawer ul.category-list span.category-link:hover {
        text-decoration: none; }
  #drawer ul.category-list ul.child-category-list {
    margin: 0; }
    #drawer ul.category-list ul.child-category-list li h4 {
      cursor: pointer; }
  #drawer div.recent-view {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

.name {
  display: inline-block;
  animation: name 2s ease;
  background: linear-gradient(30deg, #ff5f6d, #48a249 50%, #2f47cf);
  background-size: 200% auto;
  animation-iteration-count: infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: rgba(255, 255, 255, 0.2) 1px 1px; }

@keyframes name {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/*# sourceMappingURL=drawer.css.map */
